
.selected {
    background-color: yellow;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(200, 191, 231, 0.6);
}

.modal-content {
    background-color: #f1e6ff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #9b7ac4;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #774fa3;
}


.pagination ul{
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 50px;
}

.pagination ul li {
    color: black;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination ul li.numb{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0 3px;
}

.pagination ul li.btn{
    padding: 0 20px;
}

.pagination ul li.prev{
    border-radius: 25px 5px 5 px 25px;
}

.pagination ul li.next{
    border-radius: 5px 25px 25 px 5px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
    color: white;
      background-color: #a8eef7d7;
}

/*.pagination_list {*/
/*    display: flex;*/
/*    list-style-type: none;*/
/*}*/

/*.pagination_item {*/
/*    padding: 8px;*/
/*    margin: 8px;*/
/*    cursor: pointer;*/
/*}*/

#pagination-button {
    background-color: #d4f5ffd7; /* средний розовый */
    color: black; /* темно-розовый */
    border: 1px solid #8a60fcd7; /* темно-розовый */
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #a8eef7d7; /* светло-розовый */
}

header {
     color: black; /* темно-розовый */
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.top-nav {
    background-color: #e9ccedd7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.to {
    display: inline-flex;
    flex-direction: row;
    padding: 20px;
    margin-right: 10px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    margin-right: 10px;
}


#waybillTable {
    border-collapse: collapse;
}

#waybillTable th, #waybillTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#waybillTable tbody tr {
    display: table-row;
}

#passportTable {
    border-collapse: collapse;
}

#passportTable th, #passportTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#nomTable {
    border-collapse: collapse;
}

#nomTable th, #nomTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

Button{
   background-color: #d4f5ffd7; /* светло-розовый */
    color: black;
    border: 3px solid #59d3e3d7; /* темно-розовый */
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;

}


body {
    background-color: #f2dcf2d7;
}

table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    font-size: 15px;
    border: 2px solid black;
    border-spacing: 0;
    border-collapse: separate;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    color: black;
    font-family: Arial;
    background-color: #fadefcd7;
    table-layout: fixed;
}

table th, table td {
    border: 2px solid black;
    padding: 10px;
    word-break: break-all; /* Добавлено для автоматического переноса слов */
    white-space: normal; /* Добавлено для подстраивания ширины колонок */
}

table th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: black;
}

table td {
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table th+th, table td+td, table th+td {
    border-left: 1px solid #ddd;
}

tr.content:hover {
    background-color: #f2d0f1d7;
}

th {
    font-weight: bold;
}

td {
    padding: 10px;
    line-height: 18px;
    text-align: left;
    border: 2px solid black;
}

th, td {
    border-width: 2px;
}

.table-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

/* Применение к таблице */
.table-wrapper table {
    min-width: 100%;
}




